
.graph {
    display: flex;
    flex-direction: row;
 
    align-items: center;
    flex-wrap: wrap;
}

.info {
    width: 50%;
}

.bar-lines {
    width: 50%;
}
canvas { 

 
    background: white;
    border: 1px solid black;
}